    /* ********************************TAG SELECTORS********************************* */

body {
  background-color:#ecfcff;
}
hr{
  background-color: white;
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
h1{
  color:#66BFBF;
}
h3{
  color:#66BFBF;
}

h1:hover{
  color: black;
}

/* ********************************ID SELECTORS********************************* */

#Adi_img{
  border-radius: 100%;
}
